$bgcolor: rgba(240, 232, 232, 0.445);

body{
background-color: $bgcolor;
}
.table-wrapper{
    min-width: 600px;
}

.tablespielfeld{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    min-height: 400px;

    td {
        border: 1px solid black;
        line-height: 10vh;
    }
}