$bgcolor: rgba(240, 232, 232, 0.445);

body{
background-color: $bgcolor;
}
.table-wrapper{
}

.tablespielfeld{
    display: table;
    width: 100%;
/*     table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    min-height: 400px; */

/*     td {
        border: 1px solid black;
        line-height: 10vh;
    } */
}

@mixin tablerows {
    display: table-row;
}
@mixin tablecells {
    display: table-cell;
    width: 10vh;
    height: 10vh;
    border: 1px solid black;
}
.tceven, .tcodd{
    @include tablecells;
}

.t1, .t2, .t3, .t4, .t5, .t6, .t7 {
    @include tablerows;
}